.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.icon {
  margin-right: 10px;
  margin-top: 4px;
  color: green;
}

.button-list {
  margin-top: 10px;
}

.btn {
  margin-right: 5px;
}

.data-list {
  margin-top: 10px;
}

.spin-container {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
